In [2]:
#Declare an empty list
l1 = list()
l1

[]

In [3]:
#Declare a list with more than 5 items
l1= [1,2,3,True,"Hi"]

In [4]:
#Find the length of your list
print(len(l1))

5

In [9]:
#Get the first item, the middle item and the last item of the list
print("First item:", l1[0])
print("Middle item:", l1[ len(l1)//2])
print("Last item:", l1[-1])

First item: 1
Middle item: 3
Last item: Hi

In [10]:
#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ["Ali", 32, 5.7, "Single", "Pakistan"]
mixed_data_types

['Ali', 32, 5.7, 'Single', 'Pakistan']

In [13]:
#Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [14]:
#Print the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [16]:
#Print the number of companies in the list
print(len(it_companies))

7

In [18]:
#Print the first, middle and last company
print("First item:", it_companies[0])
print("Middle item:", it_companies[len(l1)//2])
print("Last item:", it_companies[-1])

First item: Facebook
Middle item: Microsoft
Last item: Amazon

In [19]:
#Print the list after modifying one of the companies
it_companies[0] = "My Tech"
print(it_companies)

['My Tech', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [20]:
#Add an IT company to it_companies
it_companies.append("Your Tech")
it_companies

['My Tech',
 'Google',
 'Microsoft',
 'Apple',
 'IBM',
 'Oracle',
 'Amazon',
 'Your Tech']

In [26]:
#Insert an IT company in the middle of the companies list
middle = len(it_companies)//2
it_companies.insert(middle,"Siwa Tech")
print(it_companies)

['My Tech', 'Google', 'Microsoft', 'Apple', 'Siwa Tech', 'Siwa Tech', 'IBM', 'Oracle', 'Amazon', 'Your Tech']

In [28]:
#Change one of the it_companies names to uppercase (IBM excluded!)
print(it_companies[0].upper())

MY TECH

In [30]:
#Join the it_companies with a string '#;
print("# ".join(it_companies[::]))

My Tech# Google# Microsoft# Apple# Siwa Tech# Siwa Tech# IBM# Oracle# Amazon# Your Tech

In [31]:
#Check if a certain company exists in the it_companies list.
print("IBM" in it_companies)

True

In [33]:
#Sort the list using sort() method
it_companies.sort()
it_companies

['Amazon',
 'Apple',
 'Google',
 'IBM',
 'Microsoft',
 'My Tech',
 'Oracle',
 'Siwa Tech',
 'Siwa Tech',
 'Your Tech']

In [40]:
#Reverse the list in descending order using reverse() method
it_companies.reverse()
it_companies

['Your Tech',
 'Siwa Tech',
 'Siwa Tech',
 'Oracle',
 'My Tech',
 'Microsoft',
 'IBM',
 'Google',
 'Apple',
 'Amazon']

In [42]:
#Slice out the first 3 companies from the list
print(it_companies[0:3])

['Your Tech', 'Siwa Tech', 'Siwa Tech']

In [44]:
#Slice out the last 3 companies from the list
print(it_companies[-3:])

['Google', 'Apple', 'Amazon']

In [46]:
#Remove the first IT company from the list
it_companies.remove(it_companies[0])

In [49]:
#Remove the middle IT company or companies from the list
it_companies.remove(it_companies[len(it_companies)//2])

In [ ]:
#Remove the last IT company from the list
it_companies.remove(it_companies[-1])

In [51]:
#Remove all IT companies from the list
it_companies.clear()
it_companies

[]

In [53]:
#Destroy the IT companies list
del it_companies
it_companies

NameError: name 'it_companies' is not defined

In [65]:
#Join the following lists:front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux'],back_end = ['Node','Express', 'MongoDB']
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.extend(back_end)
front_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [69]:
#After joining the lists in previous question. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.
full_stack = list()
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
#full_stack = front_end.extend(back_end) it will not work 
full_stack = front_end + back_end 
new_items = ["Python", "SQL"]
full_stack.insert(4,new_items)
full_stack

['HTML',
 'CSS',
 'JS',
 'React',
 ['Python', 'SQL'],
 'Redux',
 'Node',
 'Express',
 'MongoDB']

In [76]:
#The following is a list of 10 students ages: ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#Sort the list and find the min and max age
ages.sort()
min = ages[0]
max = ages[-1]
#Add the min age and the max age again to the list
ages.append(min)
ages.append(max)
#ages
#Find the average age (sum of all items divided by their number )
sum = 0
for i in range(len(ages)):
    sum = sum + ages[i]
average = sum / len(ages)
print("Average = ", average)
    
#Find the range of the ages (max minus min)
print("Range = ", max - min)
#Compare the value of (min - average) and (max - average), use abs() method

Average =  22.75
Range =  7